.pokemon-pic {
  width: 270px;
  object-fit: contain;
}

.pokemon-images {
    display: flex;
    justify-content: center;
}


.type-container {
  display: flex;
  gap: 8px;
  margin: 10px 0;
  justify-content: center;
}

.type-badge {
  padding: 6px 12px;
  border-radius: 999px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px;
  margin-top: 10px;
}

.team-card {
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 6px rgba(0, 0, 0, 0.7);
}

.team-card h4 {
  margin-bottom: 5px;
}

.team-card p {
  margin-bottom: 4px;
}

.teammate-text {
    font-size: clamp(12px, 14px, 16px);
    text-align: left;
}